$prefix-for-webkit: true !default;
$prefix-for-mozilla: true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera: true !default;
$prefix-for-spec: true !default;
@mixin prefixer ($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix==webkit and $prefix-for-webkit==true {
      -webkit-#{$property}: $value;
    }
    @else if $prefix==moz and $prefix-for-mozilla==true {
      -moz-#{$property}: $value;
    }
    @else if $prefix==ms and $prefix-for-microsoft==true {
      -ms-#{$property}: $value;
    }
    @else if $prefix==o and $prefix-for-opera==true {
      -o-#{$property}: $value;
    }
    @else if $prefix==spec and $prefix-for-spec==true {
      #{$property}: $value;
    }
    @else {
      @warn "Unrecognized prefix: #{$prefix}";
    }
  }
}

@mixin box-shadow($shadow...) {
  @include prefixer(box-shadow, $shadow, webkit moz o ms spec);
}

@mixin box-sizing($type:border-box) {
  // border-box | padding-box | content-box
  @include prefixer(box-sizing, $type, webkit moz o ms spec);
}

@mixin transform($property...) {
  @include prefixer(transform, $property, webkit moz o ms spec);
}

@mixin transition($property...) {
  @include prefixer(transition, $property, webkit moz o ms spec);
}

@mixin border-radius($width...) {
  @include prefixer(border-radius, $width, webkit moz o ms spec);
}

@mixin animation($property...) {
  @include prefixer(animation, $property, webkit moz o ms spec);
}

@mixin transform-origin($property...) {
  @include prefixer(transform-origin, $property, webkit moz o ms spec);
}

@mixin screen-center($selfWidth, $selfHeight, $horizontalOffset, $verticalOffset) {
  @include vertical-center($selfHeight, $verticalOffset);
  @include horizontal-center($selfWidth, $horizontalOffset);
}

@mixin vertical-center($selfHeight, $verticalOffset) {
  position: relative;
  top: 50%;
  margin-top: -($selfHeight + $verticalOffset)/2;
}

@mixin horizontal-center($selfWith, $horizontalOffset) {
  position: relative;
  left: 50%;
  margin-left: -($selfWith + $horizontalOffset)/2; // self.width/2
}

@mixin mobile-screen() {
  @media screen and ( max-width: $res-tablet-min) {
    @content;
  }
}

@mixin desktop-screen() {
  @media screen and ( min-width: $res-tablet-max) {
    @content;
  }
}

@mixin tablet-screen() {
  @media screen and ( min-width: $res-tablet-min) and ( max-width: $res-tablet-max) {
    @content;
  }
}

@mixin modalDisplayTransition($time, $initTop, $endTop) {
  .show-modal-transition {
    transition: all $time ease;
    opacity: 1;
    top: $endTop;
  }
  .show-modal-enter,
  .show-modal-leave {
    top: $initTop;
    opacity: 0;
  }
}

%material-shadow {
  @include box-shadow(0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12));
}

%btn {
  padding: 0 1.5rem;
  height: 4rem;
  @include border-radius(4px);
  &:hover {
    @extend %material-shadow;
  }
  &:active {
    box-shadow: none;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
