@import './variables.scss';
@import './common.scss';
* {
  vertical-align: baseline;
  box-sizing: border-box;
  font-weight: inherit;
  font-style: inherit;
  font-size: 16px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: 62.5%;
  /*prepare for rem*/
  height: 100%;
  color: $font-dark;
}

body {
  min-width: 1024px;
  height: 100%;
}

input[type=text],
input[type=password],
textarea {
  border: 1px solid $shadow-dark;
}

a:hover,
a:focus {
  text-decoration: none !important;
}

.position-relative {
  position: relative;
}

.full-height {
  height: 100%;
}

.display-inline-block {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  /*usually parent will set font-size 0*/
}

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.page-loading {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  &:before {
    content: '';
    background-color: $font-dark;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .cssload-ball {
    width: 10rem;
    height: 10rem;
    border: 0.5rem solid $white;
    @include screen-center(10rem, 10rem, 0, 0);
    &:after {
      width: 2rem;
      height: 2rem;
      border-radius: 1rem;
    }
  }
}

label {
  .cssload-ball.cssload-ball-small {
    border-color: $basic-blue;
    position: static; // overwrite default
    left: 0;// overwrite default
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    float: right;
    margin-left: 1rem;
    &:after {
      width: 0.5rem;
      height: 0.5rem;
      background-color: $basic-blue;
    }
  }
}

.cssload-ball.cssload-ball-small {
  border-color: $white;
  position: static; // overwrite default
  left: 0; // overwrite default
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  float: left;
  margin-right: 1rem;
  &:after {
    width: 0.5rem;
    height: 0.5rem;
    background-color: $white;
  }
}

// loader start
.cssload-ball {
  position: relative;
  height: 5rem;
  width: 5rem;
  border-radius: 5rem;
  border: 1px solid $white;
  left: 35%;
  left: calc(50% - 18px);
  @include transform-origin(50% 50%);
  @include animation(cssload-ball 2.25s linear infinite);
}

.cssload-ball:after {
  content: "";
  position: absolute;
  top: -0.2rem;
  left: 0.8rem;
  width: 1rem;
  height: 1rem;
  border-radius: 0.4rem;
  background-color: $white;
}

@keyframes cssload-ball {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}

// loader end
