@import './variables.scss';
@import './common.scss';
* {
  vertical-align: baseline;
  box-sizing: border-box;
  font-weight: inherit;
  font-style: inherit;
  font-size: 16px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: 62.5%;
  /*prepare for rem*/
  height: 100%;
  color: $font-dark;
}

html body {
  min-width: 1024px;
  height: 100%;
  color: $font-dark;
}

// redefine h1 - h6, pre
html h1 {
  font-size: 3.6rem;
}

html h2 {
  font-size: 3rem;
}

html h3 {
  font-size: 2.4rem;
}

html h4 {
  font-size: 1.8rem;
}

html h5 {
  font-size: 1.4rem;
}

html h6 {
  font-size: 1.2rem;
}

html pre {
  font-size: 1.3rem;
}

input[type=text],
input[type=password],
textarea {
  border: 1px solid $shadow-dark;
}

a:hover,
a:focus {
  text-decoration: none !important;
}

.position-relative {
  position: relative;
}

.full-height {
  height: 100%;
}

.display-inline-block {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  /*usually parent will set font-size 0*/
}

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}