// color
$dark-blue: #3e3c52;
$basic-blue: #3d73a2;
$light-blue: #aac6df;
$dark-coffee: #c7966e;
$light-coffee: #f0d5c0;
$shadow-dark: #dbdbdb;
$light-dark: #c1c1c1;
$basic-dark: #9e9da8;
$hover-dark: #e4e4e4;
$font-dark: #454c54;
$basic-green: #4CAF50;
$dark-green: #388E3C;
$light-green: #DBEFDC;
// copy bootstrap's color, it looks nice.
$dark-yellow: #8a6d3b;
$basic-yellow: #faebcc;
$light-yellow: #fcf8e3;
$dark-red: #a94442;
$basic-red: #ebccd1;
$light-red: #f2dede;
$white: #ffffff;

// numbers
$nav-height: 8rem;
$side-width: 25rem;